<% if @subscriptions.present? %>
<h3><%= t(:subscriptions) %></h3>
<table>
<thead>
    <tr>
      <th><%= Spree::Product.model_name.human %></th>
      <th><%= t(:next_billing_date) %></th>
      <th><%= t(:next_billing_cost) %></th>
      <th><%= t(:status) %></th>
      <th><%= t(:credit_card) %></th>
      <th></th>
    </tr>
</thead>
<tbody>
    <% @subscriptions.each do |subscription| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= subscription.variant.name %></td>
        <td><%= subscription.next_payment_at.to_s(:short) %></td>
        <td><%= subscription.price %></td>
        <td><%= subscription.state %></td>
        <% if subscription.creditcard %>
        <td><%= subscription.creditcard.display_number.sub('-','')[-4,4] %>(<a href="/account/subscriptions/<%= subscription.id %>/cc">update</a>)</td>
        <% else %>
        <td>No Credit Card!(<a href="/account/subscriptions/<%= subscription.id %>/cc">add</a>)</td>
        <% end %>
        <td style="width:150px;"><a style="float:right" href="/account/subscriptions/<%= subscription.id %>/cancel" class="button">Cancel</a></td>
     </tr>
   <% end %>
</table>
<% end %>
