<h1>Cancel Subscription?</h1>

<%= form_tag(:method => "post",:action => 'cancel_subscription_action') do %>

<div class="container">
    <p style="font-weight:bold; font-size: 120%" class="alpha columns sixteen">Are you sure you want to cancel this subscription? Service will be terminated immediately!</p> 
    <p class="alpha columns sixteen">(Required) If you would like to cancel, please type: 'YES' in this box:<p>

    <%= text_field_tag 'yes','', :class => 'text', :style => 'margin-left: 30px;' %>
</div>

<div class="container" style="margin-bottom: 40px">
    <p>(Optional) Additionally, if you would like to specify any reasons for cancelling service:</p>

    <ul style="margin-left: 30px">
        <li><%= check_box_tag 'reason1', 'cost' %> Cost.</li>
        <li><%= check_box_tag 'reason2', 'qos' %> Quality Of Service.</li>
        <li><%= check_box_tag 'reason3', 'migrate' %> Migrating to a new telephony service.</li>
        <li><%= check_box_tag 'reason4', 'nolongerrequired' %> No Longer Require VOIP service.</li>
    </ul>

    <p>(Optional) Additional Comments:</p>
    <%= text_area_tag 'comments', '', :style => 'margin-left: 30px;', :rows => 10 %>
</div>

<style>
 .red {
    background-color: #c10010;
border: 1px solid #c1c1c1;
 }
 .red:hover {
/*    background-color: #050505;*/
  }

</style>

<div class="container">
    <input type="submit" class="red btn button alpha columns eight" style="height: 40px;" value="Yes, Cancel My Service Immediately"/>
    <a href="<%= url_for '/account' %>" style="padding-left: 0px; text-align: center; padding-top: 13px; height: 25px; " class="button btn omega columns eight">No! Do not Cancel my service.</a>
</div>

<% end %>

